body {
  width: 400px;
  margin: 0px;
}

.popup-main {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.popup-search-input {
  background: white;
  height: 30px;
}

.popup-search-list {
  background: #18191b;
}

.popup-search-list-item {
  color: white;
  position: relative;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  overflow: hidden;
}

.popup-search-list-item-selected {
  background: #343537;
}
