body {
  width: 400px;
  margin: 0px;
}

.popup-main {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.popup-search-input {
  color: white;
  background: #202124;
  height: 30px;
  border: 0px;
  padding: 3px 10px 3px 13px;
}

input:focus {
  outline: none;
}

.popup-search-list {
  background: #202124;
  overflow: overlay !important;
}

.popup-search-no-results {
  background: #202124;
  line-height: 30px;
  padding-left: 13px;
  padding-right: 10px;
  color: white;
}

.popup-search-list-item {
  color: white;
  position: relative;
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-overflow: ellipsis;
  width: 377px;
  white-space: nowrap;
  overflow: hidden;
}

.popup-search-list-item:hover {
  background-color: #37383a;
}

.popup-search-list-item-tab {
  border-left: 3px solid #639fab;
}

.popup-search-list-item-bookmark {
  border-left: 3px solid #1c5d99;
}

.popup-search-list-item-selected {
  background: #444547;
}
