:root {
  --background: #202124;
  --background-hover: #37383a;
  --background-selected: #444547;
  --border-tab: #284b63;
  --border-bookmark: #3c6e71;
  --border-width: 3px;
  --foreground-white: #ffffff;
  --foreground-creamy: #d9d9d9;
  --font-size: 14px;
  --popup-width: 400px;
  --item-width: 377px;
  --item-height: 30px;
  --padding: 10px;
  --padding-with-border: 13px;
}

body {
  width: var(--popup-width);
  margin: 0px;
  background: var(--background);
  font-size: var(--font-size);
}

b {
  color: var(--foreground-white);
}

.popup-main {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.popup-search-input {
  font-size: var(--font-size);
  color: var(--foreground-creamy);
  background: var(--background);
  height: var(--item-height);
  border: 0px;
  padding: var(--border-width) var(--padding-with-border) var(--border-width)
    var(--padding-with-border);
}

input:focus {
  outline: none;
}

.popup-search-no-results {
  line-height: var(--item-height);
  padding-left: var(--padding-with-border);
  padding-right: var(--padding-with-border);
  color: var(--foreground-creamy);
}

.popup-search-list {
  overflow: overlay !important;
}

.popup-search-list-item {
  font-size: var(--font-size);
  color: var(--foreground-creamy);
  height: var(--item-height);
  width: var(--item-width);
  line-height: var(--item-height);
  padding-left: var(--padding);
  padding-right: var(--padding);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup-search-list-item:hover {
  background: var(--background-hover);
}

.popup-search-list-item-tab {
  border-left: var(--border-width) solid var(--border-tab);
}

.popup-search-list-item-bookmark {
  border-left: var(--border-width) solid var(--border-bookmark);
}

.popup-search-list-item-selected {
  background: var(--background-selected);
}
